{% extends '/bundles/AkyosCoreBundle/front/layouts/front_layout.html.twig' %}

{% block title %}
    Editeur Visuel -
    {{ parent() }}
{% endblock %}

{% block titlebar %}
    {% if core_options.homepage != page %}
        <div class="aky-page-header" style="background-image: url('{{ renderFileManagerUrl(page.thumbnail) }}')">
            <div class="aky-page-header-content">
                <div class="container">
                    <h1 class="aky-page-header-content__title wow animate__fadeInUp">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}


    {% include '@AkyosBuilder/front/render_components.html.twig' %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/akyosbuilder/main.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("bundles/akyosbuilder/main.js") }}" type="application/javascript"></script>
{% endblock %}

