{% import _self as macros %}
{% form_theme choiceBuilderTemplateForm 'bootstrap_4_layout.html.twig' %}
{% form_theme makeBuilderTemplateForm 'bootstrap_4_layout.html.twig' %}

{% macro render_flashbag() %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-{{ type }} alert-dismissable animation-slideRight">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <p>{{ message }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
{% endmacro %}

<div class="tab-pane fade" id="builder" role="tabpanel" aria-labelledby="builder-tab">
    <div id="akyTabBuilderHeader" class="d-flex justify-content-between align-items-start">
        <a href="{{ path('templates_builder_reset_temp_component', { 'type' : type, 'typeId' : typeId }) }}" class="btn btn-outline-dark">Réinitialiser les composant de la production</a>
        <a href="{{ path('back_builder_view_edit', { 'type' : 'Akyos\\CoreBundle\\Entity\\Page'|url_encode, 'typeId' : typeId }) }}" class="btn btn-outline-dark">Editeur visuel</a>

        {{ form_start(choiceBuilderTemplateForm, { 'attr' : { 'class' : 'not-submit d-flex align-items-center' }}) }}
            {{ form_widget(choiceBuilderTemplateForm) }}
            <button class="btn btn-outline-success ml-2" style="margin-bottom: 8px;">{{ button_label|default('Enregistrer') }}</button>
        {{ form_end(choiceBuilderTemplateForm) }}
        {{ form_start(makeBuilderTemplateForm, { 'attr' : { 'class' : 'not-submit d-flex align-items-center' }}) }}
            {{ form_widget(makeBuilderTemplateForm) }}
            <button class="btn btn-primary ml-2" style="margin-bottom: 8px;"><i class="fas fa-clone"></i></button>
        {{ form_end(makeBuilderTemplateForm) }}
    </div>
    {{ _self.render_flashbag() }}
    <div id="componentsRenderContainer" class="aky-sortable-component-container row" data-componentid="main">
        {% for component in instance_components | filter(component => instance_components and component.parentComponent is null) %}
            {{ _self.componentLoop(component, type, typeId) }}
        {% endfor %}
        <div class="col-md-12 ui-state-disabled" id="componentsRenderContainerAdd">
            <div class="toggleComponentTab">
                <i class="fas fa-plus"></i>
                <i>Ajouter un composant</i>
            </div>
        </div>
    </div>
</div>

<div class="aky-builder-components" id="componentTab">
    <div class="aky-builder-components-header">
        <h2>Liste des composants disponibles</h2>
        <button type="button" class="btn toggleComponentTab"><i class="fas fa-times"></i></button>
    </div>
    <div class="aky-builder-components-content">
        {% for component in components | filter(component => components is not empty) %}
            <div class="aky-builder-component" data-componentid="{{ component.id }}" data-type="{{ type }}" data-typeid="{{ typeId }}">
                <div class="aky-builder-component-header">
                    {% if component.prototype == 'col' %}
                        <input class="form-control changeColInput" type="number" name="col" value="12" min="1" max="12"/>
                    {% endif %}
                    {% if component.isContainer %}
                        <button type="button" class="btn btn-sm btn-secondary aky-builder-component-header__addTo toggleComponentTab"><i class="fas fa-plus"></i></button>
                    {% endif %}
                    <button type="button" class="btn btn-sm btn-primary aky-builder-component-header__edit" data-url="{{ path('component_edit', {'id':component.id}) }}"><i class="fas fa-edit"></i></button>
                    <button type="button" class="btn btn-sm btn-danger aky-builder-component-header__delete"><i class="fas fa-times"></i></button>
                </div>
                <h3 class="aky-builder-component__title">{{ component.name }}</h3>
                <i class="aky-builder-component__desc">{{ component.shortDescription }}</i>
                <div class="aky-builder-component-child-render aky-sortable-component-container {{ component.prototype ? 'row' : '' }}"></div>
            </div>
        {% endfor %}
    </div>
</div>

{% macro componentLoop(component, type, typeId) %}
    {% set proto = '' %}
    {% set valProto = '' %}
    {% if component.componentTemplate.prototype == 'col' %}
        {% set valProto = component.componentValues|filter(val => val.componentField.slug == 'col')|last %}
        {% if valProto %}
            {% set proto = 'col-md-'~valProto.value %}
        {% else %}
            {% set proto = 'col-md-12' %}
        {% endif %}
    {% else %}
        {% set proto = 'col-md-12' %}
    {% endif %}
    <div class="aky-builder-component-sortable {{ proto }}">
        <div class="aky-builder-component active {{ component.parentComponent is null or component.childComponents is not empty ? 'isParent' : '' }}" data-componentid="{{ component.id }}" data-type="{{ type }}" data-typeid="{{ typeId }}">
            <div class="aky-builder-component-header">
                {% if component.componentTemplate.prototype == 'col' %}
                    <input class="form-control changeColInput" type="number" name="col" value="{{ valProto ? valProto.value : '12' }}" min="1" max="12"/>
                {% endif %}
                {% if component.componentTemplate.isContainer %}
                    <button type="button" class="btn btn-sm btn-secondary aky-builder-component-header__addTo toggleComponentTab"><i class="fas fa-plus"></i></button>
                {% endif %}
                <button type="button" class="btn btn-sm btn-primary aky-builder-component-header__edit" data-url="{{ path('component_edit', {'id':component.id}) }}"><i class="fas fa-edit"></i></button>
                <button type="button" class="btn btn-sm btn-danger aky-builder-component-header__delete"><i class="fas fa-times"></i></button>
            </div>
            <h3 class="aky-builder-component__title">{{ component.componentTemplate.name }}</h3>
            <i class="aky-builder-component__desc">{{ component.componentTemplate.shortDescription }}</i>
            {% if component.componentValues|length > 0 %}
                <div class="aky-builder-component-info">
                    <i class="fas fa-database"></i>
                    <div class="aky-builder-component-info-content">
                        {% for value in component.componentValues %}
                            <span class="aky-builder-component-info-content__title">{{ value.componentField.name }}</span>
                            {% if value.value is iterable %}
                                <p class="aky-builder-component-info-content__value">
                                    {% for val in value.value %}
                                        {{ val }}
                                        {{ loop.last ? '' : ', ' }}
                                    {% endfor %}
                                </p>
                            {% else %}
                                <p class="aky-builder-component-info-content__value">{{ value.value }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if component.componentTemplate.isContainer is not null %}
                <div class="aky-builder-component-child-render aky-sortable-component-container {{ component.componentTemplate.prototype ? 'row' : '' }}">
                    {% for childComponent in component.childComponents | filter(childComponent => component.childComponents|length > 0) %}
                        {{ _self.componentLoop(childComponent) }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro componentLoop %}

<div class="aky-modal" id="modalEdit">
    <div class="aky-modal-content">
        <div class="aky-modal-content-header">
            <h5 class="aky-modal-content-header__title">Modifier</h5>
            <button type="button" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="aky-modal-content-body" id="modalEditComponent">
            <img class="loader" border="0" src="http://www.pictureshack.us/images/16942_Preloader_10.gif" alt="loader" width="128" height="128">
        </div>
    </div>
</div>

<link rel="stylesheet" href="{{ asset('bundles/akyosbuilder/main.css') }}">
<script src="{{ asset("bundles/akyosbuilder/main.js") }}" type="application/javascript"></script>