{% set padding = "" %}
{% set margin = "" %}


{% if values.padding is defined and values.padding is not null %}
    {% set padding = 'padding: '~values.padding~'; ' %}
{% endif %}

{% if values.margin is defined and values.margin is not null %}
    {% set margin = 'margin: '~values.margin~'; ' %}
{% endif %}
    <a style="{{ padding }}{{ margin }}" href="{{ values.link }}" {{ values.target is defined and values.target is not null ? 'target="_blank" rel="noopener noreferrer"' : "" }} class="component-button-{{ values.color is defined ? values.color : "" }} btn btn-outline-">{{ values.button_text }} </a>
