<div class="component-last-news {{ customClasses is defined ? ' '~customClasses : '' }}">
    {% if (values.category_filters is defined and values.category_filters) or (values.tag_filters is defined and values.tag_filters) %}
        <div class="component-last-news__search">
            <form method="get">
                {% if values.category_filters is defined and values.category_filters %}
                    <select class="js-select2" name="categorie" id="category_search">
                        <option value="">Catégories</option>
                        {% for category in categories %}
                            <option value="{{ category.slug }}" {{ app.request.get('categorie') == category.slug ? "selected" : "" }}>{{ category.title }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
                {% if values.tag_filters is defined and values.tag_filters %}
                    <select class="js-select2" name="etiquette" id="tag_search">
                        <option value="">Étiquettes</option>
                        {% for tag in tags %}
                            <option value="{{ tag.slug }}" {{ app.request.get('etiquette') == tag.slug ? "selected" : "" }}>{{ tag.title }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
                <div class="component-button component-button-secondary component-button-text-white">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </div>
    {% endif %}
    {% for new in news %}
        {{ renderComponentBySlug('news', {
            'post' : new
        })|raw }}
    {% else %}
        <div class="no-item w-100 text-center">{{ values.no_item_text is defined ? values.no_item_text : "Aucune actualité" }}</div>
    {% endfor %}
    {% if values.paginator is defined and values.paginator %}
        <div class="w-100 d-flex justify-content-center component-last-news__paginator">
            {% include '@AkyosCore/crud/elements/_pagination.html.twig' with {'els' : news} %}
        </div>
    {% endif %}
</div>