{% apply spaceless %}
    {% set margin = "" %}
    {% set padding = "" %}
    {% set bg = "" %}

    {% if not values.row_width %}{% set values = values|merge({'row_width': 'default'}) %}{% endif %}

    {% if values.background is defined and values.background is not null %}
        {% set bg = bg~values.background~' ' %}
    {% endif %}

    {% if values.background_image is defined and values.background_image is not null %}
        {% set bg = bg~'url('~getImagePathById(values.background_image)~') ' %}
    {% endif %}

    {% if values.background_color is defined and values.background_color is not null %}
        {% set bg = bg~values.background_color %}
    {% endif %}

    {% if bg|length > 1 %}
        {% set bg = 'background:'~bg~';' %}
    {% endif %}

    {% if values.padding is defined and values.padding is not null %}
        {% set padding = 'padding: '~values.padding~'; ' %}
    {% endif %}

    {% if values.margin is defined and values.margin is not null %}
        {% set margin = 'margin: '~values.margin~'; ' %}
    {% endif %}

    <div class="component-row--container{{ customClasses is defined and customClasses ? ' '~customClasses : '' }}">
        {% if values.row_width %}
        <div class="{{ values.row_width is not null and (values.row_width == "full-width" or values.row_width == "full-background") ? "" : (values.row_width == "full-width-with-padding" ? "container-fluid" : "container") }} component-row{{ values.background_image is not null and values.background_size is not null ? " component-row--"~values.background_size : false }}{{ values.background_position is defined and values.background_position ? " component-row--bg-position-"~values.background_position : false }}" style="{{ bg }}">
            {% endif %}

                <div class="{{ values.row_width is not null and values.row_width != "full-background" or  values.row_width is null ? "row" : "" }}" style="{{ values.row_width is null ? bg : '' }} {{ values.row_width is not null and values.row_width != "full-background" or  values.row_width is null ? padding : '' }}">
                    {% if values.row_width is not null and values.row_width == "full-background" %}

                        <div class="container">
                            <div class="row builder-component--container" style="{{ padding }}">
                                {% endif %}

                                {% include '@AkyosBuilder/front/render_components.html.twig' with {'components' : component.childComponents} %}

                                {% if values.row_width is not null and values.row_width == "full-background" %}
                            </div>
                        </div>

                    {% endif %}

                </div>

            {% if values.row_width %}
        </div>
        {% endif %}
    </div>
{% endapply %}
