    {% set bg = "" %}
{% set padding = "" %}
{% set margin = "" %}
{% set position = "" %}

{% if values.background_image is not null %}
    {% set bg = 'background-image: url('~getImagePathById(values.background_image)~'); ' %}
{% endif %}

{% if values.backgroundPosition is defined and values.backgroundPosition is not null %}
    {% set position = 'background-position: '~values.backgroundPosition~'; ' %}
{% endif %}

{% if values.padding is not null %}
    {% set padding = 'padding: '~values.padding~'; ' %}
{% endif %}

{% if values.margin is not null %}
    {% set margin = 'margin: '~values.margin~'; ' %}
{% endif %}
<div class="col-{{ values.break is defined and values.break != "" ? values.break : 'md' }}-{{ values.col }} component-col {{ customClasses }}
{{ values.background_image is not null and values.background_size is not null ? "component-col--"~values.background_size : "" }}"
     style="{{ bg }} {{ margin }} {{ position }}">

    <div class="h-100 component-col--padding
{{ values.display is not null ? "component-col--"~values.display : "block" }}
{{ values.display is not null and values.display == "flex" and values.flex_direction is not null ? "component-col--flex-"~values.flex_direction : "" }}
{{ values.display is not null and values.display == "flex" and values.flex_wrap is not null ? "component-col--flex-"~values.flex_wrap : "" }}
{{ values.display is not null and values.display == "flex" and values.justify_content is not null ? "component-col--flex-jc-"~values.justify_content : "" }}
{{ values.display is not null and values.display == "flex" and values.align_items is not null ? "component-col--flex-ai-"~values.align_items : "" }}"
         style="{{ padding }} {{ position }}">

        {% include '@AkyosBuilder/front/render_components.html.twig' with {'components' : component.childComponents} %}

    </div>

</div>
